<a href="https://colab.research.google.com/github/tms-byte/signate/blob/main/taitanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://github.com/tms-byte/signate/blob/main/taitanic.ipynb

In [1]:
!pip install signate

Collecting signate
  Downloading signate-0.9.9-py3-none-any.whl (37 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from signate) (2021.10.8)
Collecting urllib3>=1.26.7
  Downloading urllib3-1.26.8-py2.py3-none-any.whl (138 kB)
     |████████████████████████████████| 138 kB 8.3 MB/s
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from signate) (0.8.9)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from signate) (7.1.2)
Collecting six>=1.16
  Downloading six-1.16.0-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from signate) (2.8.2)
Collecting wget
  Downloading wget-3.2.zip (10 kB)
Building wheels for collected packages: wget
  Building wheel for wget (setup.py) ... done
  Created wheel for wget: filename=wget-3.2-py3-none-any.whl size=9675 sha256=1fef7291e2aacfd0af0fb83d8fc101890c793d1cce7fb42ace16eff42ceeacc9
  Stored in directory: /root/.cache/pip/wheels/a1/b6/7c/0e63e34eb06634181c63adacca38b79ff8f35c37e3c13e3c02
Successfully built wget
Installing collected packages: six, wget, urllib3, signate
  Attempting uninstall: six
    Found existing installation: six 1.15.0
    Uninstalling six-1.15.0:
      Successfully uninstalled six-1.15.0
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
requests 2.23.0 requires urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1, but you have urllib3 1.26.8 which is incompatible.
google-colab 1.0.0 requires six~=1.15.0, but you have six 1.16.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
albumentations 0.1.12 requires imgaug<0.2.7,>=0.2.5, but you have imgaug 0.2.9 which is incompatible.
Successfully installed signate-0.9.9 six-1.16.0 urllib3-1.26.8 wget-3.2

In [4]:
from os import mkdir
from google.colab import files
upload=files.upload()
# uploadしたsignate.jsonは/contentに保存される。
! mkdir /root/.signate
! pwd
! ls -a /root/
! cp signate.json /root/.signate/
! ls
! ls /root/.signate/

Saving signate.json to signate (1).json
/content
.   .bashrc  .config  .ipython	.keras	.npm	  .signate
..  .cache   .gsutil  .jupyter	.local	.profile  .tmux.conf
 sample_data  'signate (1).json'   signate.json
signate.json

In [5]:
! signate --help

Usage: signate [OPTIONS] COMMAND [ARGS]...

Options:
  --version  Show the version and exit.
  --help     Show this message and exit.

Commands:
  download  Download the file of competition
  files     List file of competition
  list      List competition
  submit    Submit a result file to the...
  token     Download the API Token

In [6]:
!signate list

  competitionId  title                                                                                     closing     prize                  submitters
---------------  ----------------------------------------------------------------------------------------  ----------  -------------------  ------------
              1  【練習問題】銀行の顧客ターゲティング                                                      -                                        5416
             24  【練習問題】お弁当の需要予測                                                              -                                        6700
             27  【練習問題】Jリーグの観客動員数予測                                                       -                                        1576
            100  【練習問題】手書き文字認識                                                                -           Knowledge                     204
            102  【練習問題】タイタニックの生存予測                                                        -           Knowledge                    1278
            103  【練習問題】音楽ラベリング                                                                -           Knowledge                      62
            104  【練習問題】スパムメール分類                                                              -           Knowledge                     138
            105  【練習問題】毒キノコの分類                                                                -           Knowledge                     269
            106  【練習問題】アワビの年齢予測                                                              -           Knowledge                     365
            107  【練習問題】国勢調査からの収入予測                                                        -           Knowledge                     546
            108  【練習問題】画像ラベリング（20種類）                                                      -           Knowledge                     226
            112  【練習問題】ワインの品種の予測                                                            -           Knowledge                     316
            113  【練習問題】山火事の消失面積予測                                                          -           Knowledge                     206
            114  【練習問題】レンタル自転車の利用者数予測                                                  -           Knowledge                     388
            115  【練習問題】アヤメの分類                                                                  -           Knowledge                     355
            116  【練習問題】活動センサーログからの動作予測                                                -           Knowledge                      52
            118  【練習問題】テニスの試合結果の予測                                                        -           Knowledge                     126
            121  【練習問題】自動車の走行距離予測                                                          -           Knowledge                    1475
            122  【練習問題】自動車の評価                                                                  -           Knowledge                     315
            123  【練習問題】オゾンレベルの分類                                                            -           Knowledge                      47
            124  【練習問題】ボットの判別                                                                  -           Knowledge                     309
            125  【練習問題】ガラスの分類                                                                  -           Knowledge                     162
            126  【練習問題】林型の分類                                                                    -           Knowledge                      40
            127  【練習問題】ゲーム選手のリーグ分類                                                        -           Knowledge                      60
            128  【練習問題】ステンレス板の欠陥分類                                                        -           Knowledge                      67
            129  【練習問題】都市サイクルの燃料消費量予測                                                  -           Knowledge                     128
            130  【練習問題】天秤のバランス分類                                                            -           Knowledge                     103
            132  【練習問題】ネット広告のクリック予測                                                      -           Knowledge                     145
            133  【練習問題】画像ラベリング（10種類）                                                      -                                         351
            135  【練習問題】ネット画像の分類                                                              -                                          74
            262  【SOTA】国立国会図書館の画像データレイアウト認識                                          2100-12-31  -                              73
            263  【SOTA】産業技術総合研究所 衛星画像分析コンテスト                                         2100-12-31  -                              44
            264  【SOTA】マイナビ × SIGNATE Student Cup 2019: 賃貸物件の家賃予測                           2100-12-31  -                             370
            265  【練習問題】健診データによる肝疾患判定                                                    -                                         513
            266  【練習問題】民泊サービスの宿泊価格予測                                                    -                                         575
            267  【SOTA】海洋研究開発機構 熱帯低気圧（台風等）検出アルゴリズム作成                         2100-12-31  -                              17
            268  【SOTA】オプト レコメンドエンジン作成                                                     2100-12-31                                 38
            269  【SOTA】アップル 引越し需要予測                                                           2100-12-31  -                             333
            270  【SOTA】Weather Challenge：雲画像予測                                                     2100-12-31  -                               8
            271  【SOTA】JR西日本 走行中の北陸新幹線車両台車部の着雪量予測                                 2100-12-31  -                              21
            288  【SOTA】Sansan 名刺の項目予測                                                             2100-12-31  -                              30
            294  【練習問題】債務不履行リスクの低減                                                        -                                         192
            358  【練習問題】機械稼働音の異常検知                                                          -                                          72
            404  【練習問題】モノクロ顔画像の感情分類                                                      -                                          76
            406  【練習問題】鋳造製品の欠陥検出                                                            -                                         192
            409  【練習問題】株価の推移予測                                                                -                                         177
            537  第5回AIエッジコンテスト（実装コンテスト③）                                                2022-02-15  total 1,600,000 yen            14
            563  SUBARU 画像認識チャレンジ                                                                 2022-01-31  総額¥2,000,000                126
            565  【SOTA】SIGNATE Student Cup 2021春：楽曲のジャンル推定チャレンジ！！                      2100-12-31  -                              36
            567  【SOTA】SIGNATE Student Cup 2021秋：オペレーション最適化に向けたシェアサイクルの利用予測  2100-12-31  -                              27
            575  【第18回_Beginner限定コンペ】PCゲームの勝敗予測                                           2022-01-31                                 97

In [7]:
!signate files -c 102

  fileId  name               title                     size  updated_at
--------  -----------------  ----------------------  ------  -------------------
     272  train.tsv          学習用データ             12932  2018-05-19 00:50:34
     273  test.tsv           評価用データ             12052  2018-05-19 00:50:45
     430  sample_submit.tsv  応募用サンプルファイル    3063  2018-07-06 00:14:18

In [8]:
! signate download -c 102

sample_submit.tsv

test.tsv

train.tsv


Download completed.

# colabの前処理は終了。以下は通常通りコードを書く
pd.read_csvメソッドのindex_colはどこの行から読み始めるかの指定。

通常は初めから読みたいから読みたいから0を指定する。

header=None : 初めのヘッダーの省略。データを読み込む際に邪魔

In [9]:
import pandas as pd
train=pd.read_csv("train.tsv",sep="\t",index_col=0)
test=pd.read_csv("test.tsv",sep="\t",index_col=0)
sample_submit=pd.read_csv("sample_submit.tsv",sep="\t",index_col=0,
                          header=None)# 応募用サンプルファイル

In [10]:
# head()メソッドは先頭先頭5行目までしか読めない
train.head()

    survived  pclass     sex   age  sibsp  parch     fare embarked
id
3          1       1  female  35.0      1      0  53.1000        S
4          0       3    male  35.0      0      0   8.0500        S
7          0       3    male   2.0      3      1  21.0750        S
9          1       2  female  14.0      1      0  30.0708        C
11         1       1  female  58.0      0      0  26.5500        S

# 目的

学習用データにはあった目的変数であるカラムsurvivedが無いことが分かります。その他のカラムは学習用データと同じです。つまり、答えのある学習用データの乗客の情報を元にして機械学習により生存の法則をモデル化し、そのモデルを評価用データに当てはめて、評価用データに記録されている各乗客が生存できるのか否かを予測することが課題になります。

提出するまではテストデータに対する正解率が不明。

提出時に尤度を埋める。

In [11]:
test.head()

    pclass     sex   age  sibsp  parch     fare embarked
id
0        3    male  22.0      1      0   7.2500        S
1        1  female  38.0      1      0  71.2833        C
2        3  female  26.0      0      0   7.9250        S
5        3    male   NaN      0      0   8.4583        Q
6        1    male  54.0      0      0  51.8625        S

In [16]:
print(train.shape)
print(test.shape)
print("\n\t改行テスト")
train.info()

(445, 8)
(446, 7)

	改行テスト
<class 'pandas.core.frame.DataFrame'>
Int64Index: 445 entries, 3 to 888
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   survived  445 non-null    int64
 1   pclass    445 non-null    int64
 2   sex       445 non-null    object
 3   age       360 non-null    float64
 4   sibsp     445 non-null    int64
 5   parch     445 non-null    int64
 6   fare      445 non-null    float64
 7   embarked  443 non-null    object
dtypes: float64(2), int64(4), object(2)
memory usage: 31.3+ KB

ageを見るとデータ数が360となっており、他のデータよりも少なくなっています。これから、何人かの乗客は年齢や乗船した港の情報が存在しない、つまり値が欠損しているということが分かりました。embarkedも2つ欠損があるようです。評価用データも同様に確認すると、学習用データと同様、ageに欠損値があることが分かります。また、sexとembarkedは、データタイプがobject、つまりカテゴリ変数であることも分かります。

In [20]:
train['survived'].value_counts()
x0,x1=train['survived'].value_counts()
print(x1/(x0+x1)*100)

40.2247191011236

In [18]:
train.describe()

         survived      pclass         age       sibsp       parch        fare
count  445.000000  445.000000  360.000000  445.000000  445.000000  445.000000
mean     0.402247    2.296629   29.211583    0.546067    0.431461   33.959971
std      0.490903    0.834024   14.154300    1.195247    0.850489   52.079492
min      0.000000    1.000000    0.670000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.000000    0.000000    0.000000    7.925000
50%      0.000000    3.000000   28.000000    0.000000    0.000000   15.000000
75%      1.000000    3.000000   37.250000    1.000000    1.000000   31.387500
max      1.000000    3.000000   80.000000    8.000000    5.000000  512.329200

In [21]:
pd.get_dummies(train).corrwith(train["survived"])

survived      1.000000
pclass       -0.358097
age          -0.081394
sibsp        -0.045087
parch         0.079669
fare          0.258605
sex_female    0.559465
sex_male     -0.559465
embarked_C    0.182568
embarked_Q    0.005062
embarked_S   -0.172769
dtype: float64

In [23]:
train[["pclass","survived"]].groupby(["pclass"]).mean()

        survived
pclass
1       0.685185
2       0.443299
3       0.258333

In [24]:
train[["sex","survived"]].groupby(["sex"]).mean()

        survived
sex
female  0.775641
male    0.200692

In [25]:
data=pd.concat([train,test])

In [26]:
data["age"]=data["age"].fillna(data["age"].mean())
data["embarked"]=data["embarked"].fillna(data["embarked"].mode())

In [27]:
data=pd.get_dummies(data)

pd.index はid番号を取得

そして、locメソッドでid番号の範囲の行データを取得

勿論勿論trainとtestでデータid番号は異なるから分離可能

In [29]:
train=data.loc[train.index]
test=data.loc[test.index]
# axis=1で列情報を削除
test=test.drop(["survived"],axis=1)
train.head()

    survived  pclass   age  sibsp  ...  sex_male  embarked_C  embarked_Q  embarked_S
id                                 ...
3        1.0       1  35.0      1  ...         0           0           0           1
4        0.0       3  35.0      0  ...         1           0           0           1
7        0.0       3   2.0      3  ...         1           0           0           1
9        1.0       2  14.0      1  ...         0           1           0           0
11       1.0       1  58.0      0  ...         0           0           0           1

[5 rows x 11 columns]

In [30]:
y=train["survived"] # 目的変数
X=train.drop(["survived"],axis=1) # 目的変数を除いたデータ

In [32]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(X,y)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [33]:
pred=model.predict_proba(test)[:,1]
print(pred[:5])

[0.10554246 0.92164857 0.64522003 0.17226274 0.28096284]

In [34]:
sample_submit[1]=pred
sample_submit.to_csv('submit.tsv', header=None,sep='\t')

In [35]:
! signate submit -c 102 -n "submit from Google Colaboratory" sample_submit.tsv

You have successfully submitted your predictions.We will send you the submission result to your email address.